@import "normalize";

//full table css
#table{
  background-color: green;
  height: 100%;
  width: 100%;
  position: relative;
}

#overlay{
  z-index: 999;
  background-color: rgba(0,0,0,.83);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;

  .wrapper{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .wrapper-inside{
      position: absolute;
      left: 42vw;
      top: 37vh;
      width: 187px;
    }
    
    #shareRoom{
      margin: 15px 15px 15px 0;
    }

    a{
      display: block;
      margin: 0 auto;
    }
    
    .input {
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: top;
    }

    .input__field {
      position: relative;
      display: block;
      float: right;
      padding: 0.8em;
      width: 60%;
      border: none;
      border-radius: 0;
      background: #f0f0f0;
      color: #aaa;
      font-weight: bold;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-appearance: none; /* for box shadows to show on iOS */
    }

    .input__field:focus {
      outline: none;
    }

    .input__label {
      display: inline-block;
      float: right;
      padding: 0 1em;
      width: 40%;
      color: #6a7989;
      font-weight: bold;
      font-size: 70.25%;
      user-select: none;
    }

    .input__label-content {
      position: relative;
      display: block;
      padding: 1.6em 0;
      width: 100%;
    }

    .graphic {
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
    }

    .icon {
      color: #ddd;
      font-size: 150%;
    }

    .input__field--ruri {
      width: 100%;
      background: transparent;
      padding: 0.5em 0;
      margin-bottom: 2em;
      color: #fff;
    }

    .input__label--ruri {
      width: 100%;
      position: absolute;
      text-align: left;
      font-size: 1em;
      padding: 10px 0 5px;
      pointer-events: none;
    }

    .input__label--ruri::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 7px;
      background: #B7C3AC;
      left: 0;
      top: 100%;
      transform-origin: 50% 100%;
      transition: transform 0.3s, background-color 0.3s;
    }

    .input__label-content--ruri {
      padding: 0;
      transform-origin: 0 0;
      transition: transform 0.3s, color 0.3s;
    }

    .input__field--ruri:focus + .input__label--ruri::after,
    .input--filled .input__label--ruri::after {
      background: #a3d39c;
      transform: scale3d(1, 0.25, 1);
    }

    .input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
    .input--filled .input__label--ruri .input__label-content--ruri {
      color: #a3d39c;
      transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
    }

    p{
      text-align: center;
      margin: 15px;
    }

    label{
      text-align: center;
    }
  }
}


.fancybox-lock .fancybox-overlay, html, body{
  overflow: hidden !important;
}

/* Card information */
.card{
  position: relative;
  float: left;
  margin-right: 10px;
  width: 60px;
  height: 90px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  
  p {
    text-align: center;
    font: 30px/90px Georgia, Times New Roman, serif;
    margin-bottom: 0;
  }
  
}


[class*="D_"]{
  &:before, &:after {
    content: "♦";
    color: #ff0000;
  }
  
  &:before {
    position: absolute;
    font-size: 25px;
    left: 5px;
    top: -10px;
  }

  &:after{
    position: absolute;
    font-size: 25px;
    right: 5px;
    bottom: -5px;
  }
}

[class*="H_"]{
  &:before, &:after {
    content: "♥";
    color: #ff0000;
  }

  &:before {
    position: absolute;
    font-size: 25px;
    left: 5px;
    top: -10px;
  }

  &:after{
    position: absolute;
    font-size: 25px;
    right: 5px;
    bottom: -5px;
  }
}
 
[class*="C_"]{
  &:before, &:after {
    content: "♣";
    color: #000;
  } 

  &:before {
    position: absolute;
    font-size: 25px;
    left: 5px;
    top: -10px;
  }

  &:after{
    position: absolute;
    font-size: 25px;
    right: 5px;
    bottom: -5px;
  } 
}

 
[class*="S_"]{
  &:before, &:after {
    content: "♠";
    color: #000;
  }
  
  &:before {
    position: absolute;
    font-size: 25px;
    left: 5px;
    top: -10px;
  }

  &:after{
    position: absolute;
    font-size: 25px;
    right: 5px;
    bottom: -5px;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

#deck, #discard{
  position:relative;
  margin: 0 10px;
  
  .card{
    position: absolute;
  }

  span{
    position: absolute;
  }
}
/* Card end */

/* Player information */
[id^="player"]{
  position: absolute;
  display: none;
  
  &[data-id]{
    display: block;
  }
}
 


#me{
  position: absolute;
  bottom: 15px;
  left: 30vw;
}

#player-0{
  left: -156px;
  bottom: 45vh;
  transform: rotate(90deg);
}

#player-1{
  left: 24vw;
  top: 4vh;
  transform: rotate(180deg);
}

#player-2{
  transform: rotate(270deg);
}
/* Player end */

/* Table Information */
#middle-of-table{
  left: 40vw;
  top: 35vh;
  position: absolute;
}


#await{
  z-index: 999;
  font-family: Arial;
  background-color: rgba(0,0,0, .83);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  display: none;

  .wrapper{
    position: relative;
  }

  .fountainTextG{
    color: #969696;
    font-size: 55px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_fountainTextG;
    animation-duration: 2.09s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform: scale(.5);
  }

  #fountainTextG{
    position: relative;
    top: 35vh;
    left: 30vw;
  }

  #fountainTextG_1{
    animation-delay: 0.75s;
  }

  #fountainTextG_2{
    animation-delay: 0.9s;
  }

  #fountainTextG_3{
    animation-delay: 1.05s;
  }

  #fountainTextG_4{
    animation-delay: 1.2s;
  }

  #fountainTextG_5{
    animation-delay: 1.35s;
  }

  #fountainTextG_6{
    animation-delay: 1.5s;
  }

  #fountainTextG_7{
    animation-delay: 1.64s;
  }

  #fountainTextG_8{
    animation-delay: 1.79s;
  }

  #fountainTextG_9{
    animation-delay: 1.94s;
  }

  #fountainTextG_10{
    animation-delay: 2.09s;
  }

  @keyframes bounce_fountainTextG{
    0%{
      transform:scale(1);
      color: #969696;
    }

    100%{
      transform:scale(.5);
      color: rgb(255,255,255);
    }
  }
}
.green{
  background-color: green;
}
.dealer.active::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #D0AE2A;
}
/* Table informattion end*/
